PORT=8000
DB_HOST=3.89.243.29
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_DATABASE=postgres
DATABASE_URL=postgresql://postgres:your_password@3.89.243.29:5432/postgres
DB_SSL=false
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
MFDS_API_KEY=your_api_key
MFDS_BASE_URL=http://apis.data.go.kr/1471000/FoodNtrCpntDbInfo02

